.clients {
    h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        margin-bottom: 30px;
        text-align: center;
    }
    &_item {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(+n+7) {
            display: none;
        }
    }
    .item_1 {
        background: #1C4280;
    }
    .item_2 {
        background: #143646;
    }
    .item_3 {
        background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
    }
    .item_4 {
        background: #9E4DC3;
    }
    .item_5 {
        background: #FD9339;
    }
    .item_6 {
        background: #E2E2E4;
    }
    .item_7 {
        background: #C71C36;
    }
    .item_8 {
        background: #DCF3F9;
    }
    .item_9 {
        background: #EAEAEA;
    }
    .item_10 {
        background: #282240;
    }
    .item_11 {
        background: #1D4568;
    }
    .item_12 {
        background: #000000;
    }
}

@media (min-width: 768px) {
    .clients {
        &_items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &_item {
            flex-basis: 33.3333%;
            &:nth-child(+n+7) {
                display: flex;
            }
        }
    }
}

@media (min-width: 1024px) {
    .clients {
        &_item {
            flex-basis: 25%;
        }
    }
}

@media (min-width: 1920px) {
    .clients {
        &_items {
            margin: 0 100px 60px;
        }
        .item_1 {
            border-top-left-radius: 12px;
        }
        .item_4 {
            border-top-right-radius: 12px;
        }
        .item_9 {
            border-bottom-left-radius: 12px;
        }
        .item_12 {
            border-bottom-right-radius: 12px;
        }
    }
}